
.nav {
  width: 100%;
}
.nav-logo {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}
h2{
  text-align: center;
}

.crea {
  background-image: url(../Imagenes/Center\ Cancha\ Carousel\ 2.jpeg);
  background-position: center;
  background-size: cover;
  height: 500px;
}

.fw-light {
  text-align: center;
  color: white;
  position: sticky;
  margin-top: 200px;
  font-size: 50px;
}
a:visited {
  color: darkblue;
}
.card:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.mapa-pin {
  margin: 120px;
  padding: auto;
  
}
.container {
  width: 100%;
}
.texto-torneos {
  text-align: center;
  font-size: 1.7rem;
  margin-top: 20px;
  margin-bottom: 20px;
}




.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
  grid-gap: 10px;
  margin-bottom: 30px;
  grid-auto-flow: 150px
  ;
}
.gallery-item {
  position: relative;
}
.gallery-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-item {
  height: auto;
  min-height: 500px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}/*
.carousel{
  width: auto;
  height: auto;
}

.gallery-title {
  position: absolute;
  bottom: 0;
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 1));
  color: aliceblue;
  width: 100%;
  margin: 0;
}

@media (min-width: 1024px) {
  .gallery {
    grid-template-columns: repeat(1, 1fr);
  }
  .gallery-item:nth-child(1) {
    grid-column-start: span 1;
  }
  .gallery-item:nth-child(2) {
    grid-column-start: span 1;
  }
  .gallery-item:nth-child(3) {
    grid-column-start: span 1;
  }
  .gallery-item:nth-child(4) {
    grid-column-start: span 1;
  }
}

